<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head> 
  <body>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new item..." required />
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% list.forEach(function(item) { %>
          <li uid=<%= item.id %>>
            <%= item.content %>
          </li>
        <% }) %>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/static/todo-list.js"></script>
  </body>
</html>
